<form action="/start" method="post">
    <label for="Search">Search wikipédia term: </label>
    <input type="text" name="inputSearch" id="Search" placeholder="Type search wikipédia terms!">
    <label for="inputPrefix">Select prefix</label>
    <select name="inputSelectPrefix" id="Prefix" aria-placeholder="Select a prefix">        
        <option value="Who is" aria-selected="true">Who is</option>
        <option value="What is">What is</option>
        <option value="The history of">The history of</option>
    </select>
    <button type="submit">Buscar</button>
</form>