<form action="/start" method="post">
    <label for="Search">Search wikipédia term: <small style="color: red">*</small></label>
    <input type="text" name="inputSearch" id="Search" placeholder="Type search wikipédia terms!" required>
    <label for="inputPrefix">Select prefix: <small style="color: red">*</small></label>
    <select name="inputSelectPrefix" id="Prefix" required>        
        <option value="Who is" aria-selected="true">Who is</option>
        <option value="What is">What is</option>
        <option value="The history of">The history of</option>
    </select>
    <select name="inputLanguage" id="Language" required>
        <option value="pt">Portugues Brasil</option>
        <option value="en-us">Inglês USA</option>
        <option value="en">Inglês</option>
        
    </select>
    <button type="submit">Buscar</button>
</form>